SPRING_PROFILES_ACTIVE=dev

STOCK_DB_URL=jdbc:postgresql://10.0.0.214:30120/stock_v2_db
STOCK_DB_USERNAME=
STOCK_DB_PASSWORD=

STOCK_REDIS_HOST=10.0.0.214
STOCK_REDIS_PORT=30121
STOCK_REDIS_DATABASE=1
STOCK_REDIS_PASSWORD=

STOCK_JWT_PRIVATE_KEY=
STOCK_JWT_ACCESS_TOKEN_TTL=PT30M
STOCK_JWT_REFRESH_TOKEN_TTL=P14D

STOCK_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4200
STOCK_MANAGEMENT_PORT=11181
